<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWIwcsyFw7dp5JV3_94FNtREMnwQBbEbA</string>
	<key>GCM_SENDER_ID</key>
	<string>767167843892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baddieMaster</string>
	<key>PROJECT_ID</key>
	<string>project-badminton-87f15</string>
	<key>STORAGE_BUCKET</key>
	<string>project-badminton-87f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767167843892:ios:a69613646611c7338b8461</string>
</dict>
</plist>